page-feed-detail {
	ion-content {
		h2 {
			color: #273057;
			text-align: justify;
			text-justify: inter-word;
			font-size: 1.8rem;
		}
		p {
			color: #343a40;
			text-align: justify;
			text-justify: inter-word;
		}
		strong {
			font-weight: 500;
		}
	}
}
